.album {
    background-color: #680AE2;
    color: white; 
    background-size: cover;
    background-position: center;
    height: 100%;
    background-blend-mode: lighten;
}

.bg {
    background-color: #680AE2;
    height: 100%;;
}

#album-info {
    max-width: 1125px;
    margin: 0 auto;
}

#album-cover-art {
    max-width: 60%;
}

#empty-space {
    height: 10rem;;
}

#album-title {
    font-size: 1.25rem;
}

.artist {
    font-size: 0.85rem;
}

@media only screen and (max-width: 900px) {
    .album {
        padding: 3rem 0;    
    }

       #empty-space {
        height: 2rem;;
    }

    #album-cover-art {
        width: 70%;;
    }

    button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }

    .wrap-container {
        display: none;
    }

    #buttons, #volume-control {
        width: 100%!important;
        padding: 0!important;
    }
}

@media only screen and (max-width: 1350px) {
    #song-list {
        position: static!important;
        margin: 2rem auto;
    }
}

.player-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: #680AE2;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

#time-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-time, .total-time {
    margin: 0 1rem;
}

#volume-control {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;
}

.seek-bar {
    width: 100%;
    height: 0.25rem;
}

#wrap-container, #buttons, #volume-control {
    width: 30%;
}

.icon {
    margin: 0 1rem;
}

.ion-md-volume-high {
    padding: 0 1rem;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    background: none;
    color: #ffffff;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
}

button:focus {
    background: none;
}

button:active{
    outline: none;
    border: none;
}

.volume {
    display: none;   
}

#volume-control:hover .volume {
    display: inline-block;
}

#number {
    font-size: 1rem;
}


#song-list {
    position: absolute;
    top: 125px;
    padding: 0 10px;
    left: 80px;
}

table {
    border-collapse: collapse; 
    font-family: 'Questrial', sans-serif;
    cursor: pointer;
}

tr td {
    border-bottom: 1px solid rgb(255, 255, 255);
    text-align: left;
}

#song-duration, #song-title {
    padding: 1rem 2rem;
    margin: 0;
}