footer {
    background-color: #680AE2!important;
    padding: 1rem!important;
    width: 100%;
    margin: 0 auto;
}

.card {

    padding-right: 15px;
    padding-left: 15px;
    margin: 2rem auto;
    
}

.card p {
    color: white;
    margin: 0!important;
    font-size: 0.9rem;
}